<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>White Card To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="box" id="heading">
    <h1 style="color: blue"> 今天是<%= day %> </h1>
</div>

<div class="box">
    <% tasks.forEach(element => { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                <p><%= element.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= day %>">
        </form>
    <% }) %>

    <!--<% for (let i = 0; i < tasks.length; i++){ %>-->
        <!--<div class="item">-->
            <!--<input type="checkbox">-->
            <!--<p><%= tasks[i].name %></p>-->
        <!--</div>-->
    <!--<% } %>-->

        <form class="item" action="/" method="post">
            <input type="text" name="newTask" placeholder="enter your task" autocomplete="off">
            <button type="submit" name="list" value="<%= day %>">+</button>
        </form>

</div>
<footer>
    <div>
        <p class="mt-5 mb-3 text-muted">Copyright 2019 &copy; Microshadow Studio</p>
    </div>
</footer>
</body>
</html>